*.vscode
vscode

*.pyc
*.xlsx
*.sqlite3

*/static/*
static/*
migrations/*
*/migrations/*
__pycache__
__pycache__/*

.pytest_cache/*
localhost.py
localhost.py
*/localhost.py
paystackcollection/localhost.py